
<footer class=" font-small light grey lighten-4 text-dark">

    <div class="container text-center  mt-5">
      <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">      
            <h6 class="text-uppercase font-weight-bold">À propos de nous</h6>
            <hr class="danger-color-dark accent-2 mb-4 mt-0 d-inline-block mx-auto" >
            <p>Site e-commerce destiné aux vente des produits d'artisanat </p>
          </div>
       
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4 ">  
            <h6 class="text-uppercase font-weight-bold">Accés rapide</h6>
            <hr class="danger-color-dark accent-2 mb-4 mt-0 d-inline-block mx-auto" >
            <p>
                <a href="http://localhost:4200/catalogue/produitcateg/1" >Ceramique</a>
            </p> 
            
            <p>
              <a href="http://localhost:4200/catalogue/produitcateg/2" >Mode</a>
            </p>
            <p>
              <a href="http://localhost:4200/catalogue/produitcateg/3" >Tapisserie</a>
            </p>
            <p>
              <a href="http://localhost:4200/catalogue/produitcateg/4" >Bijoux</a>
            </p>
          </div>
       
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4  ">
          <h6 class="text-uppercase font-weight-bold">Devenir Client</h6>
          <hr class="danger-color-dark accent-2 mb-4 mt-0 d-inline-block mx-auto ">
          <p>
            <a (click) ="login($event)">Mon compte</a>
          </p>
          <p>
            <a (click) ="signup($event)">Inscrivez-vous </a>
          </p>
          
        </div>
      
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4 ">

        
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="danger-color-dark accent-2 mb-4 mt-0 d-inline-block mx-auto" >
          
          <p>
            <mdb-icon fas icon="envelope" ></mdb-icon> artisto141@gmail.com
          </p>
          <p>
            <mdb-icon fas icon="phone" ></mdb-icon> +21623333333
          </p>
          <hr class="danger-color-dark accent-2 mb-4 mt-0 d-inline-block mx-auto" >
          <h6 class="text-uppercase font-weight-bold">Suivez-nous</h6>
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a mdbBtn floating="true"  class="mx-1" mdbWavesEffect>
                <mdb-icon fab icon="facebook"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true"  class="mx-1" mdbWavesEffect>
                <mdb-icon fab icon="instagram"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true"  class="mx-1" mdbWavesEffect>
                <mdb-icon fab fab icon="google-plus"></mdb-icon>
              </a>
            </li>
            
            
          </ul>
        </div>
      

      </div>
    </div>
    <div class="footer-copyright text-center py-3 ">
      © 2020 Copyright 
    </div>

</footer>
  
