



<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light grey lighten-5 " [containerInside]="false">
  <div class="col-sm-3 ">
    <links>
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link waves-light" routerLink="catalogue" mdbWavesEffect>Catalogue</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="acceuil">A propos</a>    
        </li>
      </ul>

    </links>
  </div>
  <div class="col-sm-6 logo d-flex justify-content-center"  >
      <a  href="catalogue"><img src="../../assets/logo.png"  width="140px" height="45px" ></a>
  </div>
      
    
  <div class="col-sm-3 d-flex justify-content-between" >
    <links>
     
          <div *ngIf="!loggedIn then thenBlock else elseBlock" >   </div>
            <ng-template #thenBlock > 
           
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-light"  routerLink="signup"> <i class="fas fa-user-plus"></i> Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light"  routerLink="login" ><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                   
                </ul>
            
          
            </ng-template>  

          <ng-template #elseBlock> 
           
              <ul class="navbar-nav ml-auto">
                
            
                <li class="nav-item">
                  <div class="d-flex justify-content-start  align-items-center" routerLink="message" (click)="onClickMsg()">
                   
                  <i class="far fa-comments fa-lg mt-2"></i>
                    <p  class="z-depth-1 notif">{{notification}}</p> 
                    
                    </div>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                  <a dropdownToggle  type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <img class="rounded-circle img-fluid" src="http://localhost:8000/storage/{{user1.image}}" width="30px"> {{user1.prenom}}<span class="caret"></span></a>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                      <a class="dropdown-item waves-light"   routerLinkActive="active" (click)="login($event)">profil</a>
                      <a class="dropdown-item waves-light"  (click)="logout($event)" >Déconnexion</a>
                  </div>
                </li>
          
              </ul>
         
        </ng-template>
       
         
        <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="d-flex justify-content-start  align-items-center">
                      <i class="fas fa-shopping-cart mr-1" routerLink="panier"></i>
                      <p  class="z-depth-1 notif">{{nbproduitpanier}}</p> 
                </div>
            </li>
            
        </ul>
        </div>
  
</links>

</div>


  </mdb-navbar>
 
