.panierAll
{
        width: 99%;
}
.commande
{
        border: 1px solid lightgrey;
}

h6
{
        font-weight: bold;
}
.btnred
{
        background-color: #CC0000;
        color:lightgray;
        font-size: 11px;
}
th
{
        text-align: center;
}