<div class="d-flex justify-content-center login">
<mdb-card class="my-5">

   <h4 class=" font-weight-bold text-center mt-3">Sign in</h4>      
        <mdb-card-body>
      <div class=" mx-3">
       <form #loginForm=ngForm (ngSubmit)="onSubmit()">
      
        <div class="md-form mb-5" >
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input mdbInput type="email" id="defaultForm-email" name="email"  class="form-control" [(ngModel)]="form.email" required>
          <label for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input mdbInput type="password" id="defaultForm-pass" name="password"  class="form-control" [(ngModel)]="form.password" required>
          <label for="defaultForm-pass">Your password</label>
        </div>

        <div class=" d-flex justify-content-center mb-2">
          <button mdbBtn color="red" class="waves-light" mdbWavesEffect [disabled]="!loginForm.valid">Login</button>
          <small>
            <a routerLink="requestreset">Reset password</a>
          </small>
        </div>
      </form>
      </div>
    
      </mdb-card-body>
     
    
 

</mdb-card>
</div>