<div class="d-flex justify-content-center login">
<mdb-card class=" my-5 ">

   <h4 class=" font-weight-bold text-center mt-3">Sign in</h4>      
        <mdb-card-body>
      <div class=" mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email"  class="form-control">
          <label for="defaultForm-email">Your email</label>
          
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass"  class="form-control">
          <label for="defaultForm-pass">Your password</label>
          
        </div>

      </div>
      </mdb-card-body>
      <div class=" d-flex justify-content-center mb-2">
        <button mdbBtn color="red" class="waves-light" mdbWavesEffect>Login</button>
      </div>
    
 

</mdb-card>
</div>