.headercard
{
        background-color: #CC0000;
        height: 100px;
}
.btnred
{
        width: 300px;
        background-color: #CC0000;
        font-weight: bold;
        color: white;
}
p 
{
        font-size: 18px;
        font-weight: bold;
        color:black
}
input
{
        max-width: 300px;
        font-weight: bold;
}
mdb-error
{
        font-weight: bold;
        margin-top: 40px;
}
.form
{
        background-color: #F8F8F8;
        border-radius: 10px;
}
.divimg
{
        border-radius: 10px;
        background-color: #F8F8F8;
}