
.btn
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel1   img
{
    height: 400px;
}

.all,.topcateg
{
    width: 98.5%;
}

.categorie
{
    font-family: 'Poiret One', cursive;
    font-weight:bold;
}

.caract
{
    font-family: 'Spartan', sans-serif;
}

a
{
    color:black
}

p
{
    font-weight: bold;
}

.scrollbar
{
 
    height: 400px; 
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
  
}

 ul li img
{
    width:100px;
    height: 100px;
}
  
.btn
{
    background-color: white ; 
    opacity: 0.8;
    color: #CC0000; 
    border-radius: 25px; 
    padding:15px
}
  
del
{
    color: red;font-size: 10px;
    font-weight: bold;
  
}
.promo
{
    border:1px  solid green; 
    color: green;
    font-weight: bold;
    font-size: 12px;
    padding: 1px;
}

.prix
{
    font-size: 13px;
}
mdb-badge
{
    font-weight: bold;font-size: larger;
}

select
{
    border: none;
}

.btn-categorie
{
    font-family: 'Poiret One', cursive; 
}