<mdb-carousel class="mt-2"  [animation]="'fade'">
    <mdb-carousel-item>
      <div class=" w-100">
        <img class="d-block w-100" src="../../assets/bijoux.jpg" >
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class=" w-100">
        <img class="d-block w-100" src="../../assets/unnamed.jpg">
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class=" w-100">
        <img class="d-block w-100" src="../../assets/bois.jpg" >
      </div>
    </mdb-carousel-item>
</mdb-carousel>
<div class="d-flex ml-3 mr-3 justify-content-center ">
  <div class="row mt-5 ">  
    <div class="col-sm-4  mb-4">
      <div class="card grey lighten-3 text-center z-depth-1">
        <div class="card-body">
          <h3 class=" font-weight-bold  mt-2 mb-3"><i class="fas fa-lock mr-2"></i>Confidentialité</h3>
          <p class=" mb-0"> Vos données personnelles servent uniquement à traiter votre commande elles ne sont en aucun cas transmises à des tiers  votre sécurité est au coeur de notre preoccupation pour que votre achat se realise dans les conditions de sécurité </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4  mb-4"> 
      <div class="card grey lighten-3 text-center  z-depth-1 pb-5">
        <div class="card-body">
          <h3 class=" font-weight-bold  mt-2 mb-3">Qui sommes nous ?</h3>
          <p class=" mb-0">Artisto est un "marketplace" de vente des produits artisanaux tunisiens          
            C’est un lieu de rencontre entre les clientes douées d'artisanat et les artisans </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4  mb-4">  
      <div class="card grey lighten-3 text-center z-depth-1">
        <div class="card-body">
          <h3 class=" font-weight-bold  mt-2 mb-3"><i class="fas fa-shopping-cart mr-2"></i>Livraison</h3>
          <p class=" mb-0"> Vous réceptionnez  articles commandés dans les délais de livraison 
            indiquée pour chaque article Nous sommes toujours à vos services et si et possible 
            nous pouvons vous livrer les articles plus rapidement que dans les délais annoncés </p>
        </div>
      </div>
    </div>
  </div>
</div>