.show
{
        width: 90%;
        font-family: 'Poiret One', cursive;
}
h2
{
     font-weight: bold;
}
.prix
{
     font-size: 20px;
}

del
{
     color: red;font-size: 15px;
}
input
{
     width: 100px;
}

.btnred
{
        background-color: #b71c1c;
        color: white;
        width: 300px;
}
p,label,input
{
        font-size: 15px;
        font-weight: bold;
}
.r
{
        display: flex;
        justify-content: center;
}