/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap" );
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/fonts/scss/modules/fonts';
@import "~angular-notifier/styles";
// primary font

// font-weight


// font-weight

footer
{
        font-family:'Poiret One', cursive;
  
}

.login
{
        font-family:'Poiret One', cursive;
}
.card
{
        font-family:'Poiret One', cursive;
        font-weight: bold;
}