/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/fonts/scss/modules/fonts';
// primary font

// font-weight


// font-weight

footer{
    font-family:'Lobster Two';
  
}
nav{
    font-family:'Lobster Two';
  
}
.login{
    font-family:'Lobster Two';
}
