h6
{
    font-weight: bold;
    padding-left: 10px;
  
}
h6 span
{
    font-weight: normal;
    font-size: 20px;
}
table tr td
{
    font-weight: bold;
}
.commande
{
    width: 95%;
}
.btngrey
{
    background-color: lightgray;
    color:#CC0000;
}
.btnred
{
    background-color: #CC0000;
    color:lightgray;
}
.total{
    font-size: medium;
    color:rgb(49, 165, 49);
    font-weight: bold;
}
.adresse
{
    font-weight: bold;
    
}
input{
    font-weight: bold;

}
h6
{
    text-align: center;
}
.autreAdresse{
    cursor: pointer;
    color: grey;
}